:root {
  --main-bg-color: #F4F0FA; 
  --shadow: #F8F8F8;
  --secondary-bg-color: #FFFFFF;
  --text-bg-color: #FFFFFF;
  --black: #000000;
  --white: #FFFFFF;
  --buttonHighlight: #3F83F1;
  --footer-bg: #67B05E;
}


/*
  --main-bg-color: #176B87;
  --secondary-bg-color: #64CCC5;
  --text-bg-color: #DAFFFB;
  --black: #001C30;


    --main-bg-color: #202124; 
  --shadow: #000000;
  --secondary-bg-color: #40C6DF;
  --text-bg-color: #202124;
  --black: #1B1C1E;
  --white: #DAFFFB;
  --buttonHighlight: #40C6DF;
*/

* {
    margin: 0;
    padding: 0;
    width: auto;
    color: var(--black);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 0;
    text-decoration: none;
    transition-duration: 0.15s;
    font-size: 12px;
}

body {
    background-color: var(--main-bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    row-gap: 30px;

    
}

nav {
    width: 100%;
    background-color: var(--buttonHighlight);
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
    z-index: 99999999999999999999999999999999999999999999999999999999999;

}

.sticky {
    position: fixed;
    top: 0;
    background-color: none;
}

nav > ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;


}

nav > ul > li {
    margin: 0;
    text-align: center;

}

nav > ul > li > a {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--buttonHighlight);
    text-align: center;
    color: var(--white);
    font-size: 15px;

}

nav > ul > li > a:hover {
    color: var(--black);
    text-decoration: underline;
    background-color: var(--white);
}

section {
    width: 90%;
}


section > ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 20px;
}

section > ul > li {
    background-color: var(--secondary-bg-color);    
    border-radius: 3px;
    box-shadow: 5px 8px var(--shadow);
    padding: 13px;
    align-self: start;
}

section > ul > li > article, section > ul > li > a  {
    max-width: 300px;
    width: 100%;
    background-color: var(--text-bg-color);
    border-radius: 3px;
    column-gap: 10px;
    row-gap: 10px;
    display: flex;
    flex-wrap: wrap;


}


img, video, iframe {
    width: 100%;
    border-radius: 3px;
    max-width: 500px;
}

article > ul > li {
    margin-left: 20px;
    font-size: 12px;
}
article > ul {
    width: 100%;
}

h2 {
    margin: auto;
    text-align: center;
    color: var(--buttonHighlight);

    padding: 30px;

    font-size: 25px;



}

h3 {
    font-size: 19px;
}

section > ul > li > article > h3, section > ul > li > a > h3 {
    font-size: 19px;
    color: var(--black);
    border-bottom: 3px dotted var(--footer-bg);
    width: 100%;

}

#projects > ul > li:hover > a, #projects > ul > li:hover {
    background-color: var(--footer-bg);
}


#projects > ul > li:hover > a > h3 {
    color: var(--white);
    border-bottom: 3px dotted var(--white);
}

#projects > ul > li:hover > a > p {
    color: var(--white);
}

section > ul > li > a > p {
    color: var(--black);
}

section > ul > li > a > img, section > ul > li > a > video, section > ul > li > a > iframe {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border: none;
}

#projects > ul > li:hover > a > img, #projects > ul > li:hover > a > video, #projects > ul > li:hover > a > iframe {
    -webkit-filter: grayscale(100%);
    filter: grayscale(0%);
}


p {
    font-size: 12px;
}



footer {
    width: 100%;
    background-color: var(--footer-bg);
    color:var(--white);
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

header {
    background-color: var(--footer-bg);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;

}

header > p, footer > p {
    color: var(--main-bg-color);
}

h1 {
    color: var(--white);
    width: 100%;
    text-align: center;
    font-size: 30px;
}

hr {
    border-top: 3px dotted var(--footer-bg);
    width: 100%;
    padding: 0;
    margin: 0;
}


.noMax {
    max-width: 100%;
}

.halfMax {
    max-width: 43%;
    width: 43%;
}


@media (max-width: 800px) {
    section > ul > li, section > ul > li > a, section > ul > li > article {
        max-width: 100%;
        width: 100%;
    }

    .halfMax {
        max-width: 100%;
        width: 100%;
    }

    nav > ul > li > a {
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: var(--buttonHighlight);
        text-align: center;
        color: var(--white);
        font-size: 15px;    
        width: 100%;
    }

    nav > ul > li > a:hover {
        color: var(--black);
        text-decoration: underline;
        background-color: var(--white);
    }

    nav > ul > li {
        width: 25%;
    }

}